<ul class="list-unstyled">
  <% comments.each do |comment| %>
    <li class="media mb-3 bg-light rounded">
      <img class="mr-2 rounded" src="<%= gravatar_url(comment.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <p><span><%= comment.id %>. </span><%= comment.user.name %> <span class="text-muted">投稿日 <%= comment.created_at %></span></p>
        </div>
        <div>
          <p><%= comment.content %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>