<p>コメント</p>
<% if logged_in? %>
    <%= form_with(model: @comment, local: true) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      <div class="form-group">
        <%= hidden_field_tag :event_id, @event.id %>
        <%= f.text_area :content, class: "form-control mb-2" %>
        <span><%= f.submit "投稿", class: "btn btn-block btn-secondary col-sm-3" %></span>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="login mb-3">
    <span class="text_muted"><%= link_to "ログインしてコメントを投稿", login_path %></span>
  </div>
<% end %>
