<div class="user_profile">
  <div class="row">
    <aside class="col-lg-4">
      <%= image_tag @user.image.thumb.url, class: "icon amg-fluid", alt: "UserIcon" %>
      <%= link_to "アバターを変更", edit_user_path(@user, edit: "image"), remote: true, class: "btn btn-outline-dark m-2" %>
      <%= link_to "アバターを削除", user_path(@user, remove: "true"), method: :patch, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger m-2' %>
      <% if current_user.admin? %>
        <%= link_to "ユーザーを削除", @user, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger ml-3' %>
      <% end %>
    </aside>
  
    <div class="main col-lg-8 mt-4">
      <table class="table">
        <tr>
          <td>UserName： </td>
          <td><%= @user.name %>
              <div class="dropleft">
                <a href="#" class="nav-link justify-content-end" data-toggle="dropdown"><i class="fas fa-pencil-alt"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to "ユーザー名を編集", edit_user_path(@user, edit: "name"), remote: true, class: "btn btn-outline-dark" %></li>
                </ul>
              </div>
          </td>
        </tr>
        
        <tr>
          <td>Email： </td>
          <td>
            <%= @user.email %>
            <%= render "activation_button", user: @user %>
            <div class="dropleft">
              <a href="#" class="nav-link" data-toggle="dropdown"><i class="fas fa-pencil-alt"></i></a>
              <ul class="dropdown-menu">
                <li><%= link_to "メールアドレスを編集", edit_user_path(@user, edit: "email"), remote: true, class: "btn btn-outline-dark" %></li>
              </ul>
            </div>
          </td>
        </tr>
        
        <tr>
          <td>Password </td>
          <td><%= link_to "パスワード変更", edit_password_reset_url(email: @user.email), class: "btn btn-outline-dark" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
