<ul class="list-unstyled nav nav-pulls">
  <% events.each do |event| %>
    <li class="mb-3 col-sm-4">
      <a href="<%= event_path(event) %>" class="card">
        <div class="card-header">
          <h3 class="card-title">
            <%= event.title %>
            <% if event.title.empty? %>
              No Title
            <% end %>
          </h3>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td>開催日： </td>
              <td><%= event.event_date %></td>
            </tr>
            <tr>
              <td>Platform： </td>
              <td>
                <% if event.pc == true %>
                  pc
                <% end %>
                <% if event.ps4 == true %>
                  ps4
                <% end %>
                <% if event.ps5 == true %>
                  ps5
                <% end %>
                <% if event.xbox_one == true %>
                  xbox_one
                <% end %>
                <% if event.xbox_series_xs == true %>
                  xbox_series_xs
                <% end %>
                <% if event.switch == true %>
                  switch
                <% end %>
                <% if event.smartphone == true %>
                  smartphone
                <% end %>
                <% if event.other == true %>
                  other
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Game： </td>
              <td><%= event.game_title %></td>
            </tr>
            <tr>
              <td>Entry： </td>
              <td><%= event.entry %></td>
            </tr>
          </table>
          <div>
            <h6 class="text-center">詳細</h6>
            <p><%= event.content %></p>
          </div>
          <div class="row">
            <p>コメント： <%= event.comments.count %></p>
            <p class="ml-4">お気に入り： <%= event.favorites.count %></p>
          </div>
          <p class="text-muted">作成日： <%= event.created_at %></p>
        </div>
      </a>
    </li>
  <% end %>
</ul>
