<div class="text-center mb-4">
  <h1>イベント一覧</h1>
</div>

<div class="row">
  <div class="search-form col-sm-6">
    <%= form_with(scope: :search, url: events_path,method: :get, local: true) do |f| %>
      <div class="field form-group">
        <%= f.label(:search_word, "イベント名、詳細") %>
        <%= f.text_field :search_word, value: @search_params[:search_word], class: "form-control col-sm-6" %>
      </div>
      
      <div class="field form-group">
        <%= f.label(:event_date, "日付") %>
        <div class="row">
          <%= f.date_field :event_date_from, value: @search_params[:event_date_from], class: "form-control col-4 ml-3 mr-3" %> ～ <%= f.date_field :event_date_to, value: @search_params[:event_date_to], class: "form-control col-4 ml-3 mr-3" %>
        </div>
      </div>
      
      <div class="field form-group">
        <%= f.label(:place, "場所") %>
        <%= f.text_field :place, value: @search_params[:place], class: "form-control col-sm-6" %>
      </div>
      
      <div class="actions">
        <%= f.submit "検索する", class: "btn btn-block btn-secondary col-sm-3 mb-3" %>
      </div>
    <% end %>
  </div>
</div>

<ul class="list-unstyled nav nav-pulls">
  <% @events.each do |event| %>
    <li class="mb-3 col-sm-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= link_to event.title, event_path(event) %></h3>
        </div>
        <div class="card-body">
          <div>
            <h5><%= event.event_date %></h5>
            <h5><%= event.place %></h5>
          </div>
          <div>
            <p><%= event.content %></p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate @events %>
