<div class="text-center">
  <h1>大会概要</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @event, local: true) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, '大会名' %><span class="text-muted">（任意）</span>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :event_date, '開催日' %>
        <div>
          <%= f.date_field :event_date,
                           min: Time.zone.now,
                           class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :game_title, 'ゲームタイトル' %>
        <%= f.text_field :game_title, class: 'form-control' %>
      </div>
      
      <div class="mb-2">
        プラットフォーム
      </div>
      <div class="form-group border rounded pt-1">
        <%= f.label :pc, "pc", class: "ml-2" %>
        <%= f.check_box :pc %>
        
        <%= f.label :ps4, "ps4", class: "ml-2" %>
        <%= f.check_box :ps4 %>
        
        <%= f.label :ps5, "ps5", class: "ml-2" %>
        <%= f.check_box :ps5 %>
        
        <%= f.label :xbox_one, "xbox_one", class: "ml-2" %>
        <%= f.check_box :xbox_one %>
        
        <%= f.label :xbox_series_xs, "xbox_series_xs", class: "ml-2" %>
        <%= f.check_box :xbox_series_xs %>
        
        <%= f.label :switch, "switch", class: "ml-2" %>
        <%= f.check_box :switch %>
        
        <%= f.label :smartphone, "smartphone", class: "ml-2" %>
        <%= f.check_box :smartphone %>
        
        <%= f.label :other, "other", class: "ml-2" %>
        <%= f.check_box :other %>
      </div>

      <div class="form-group">
        <%= f.label :content, '詳細' %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      
      <div class="form-group">
        <%= f.label :entry, '詳細URL、エントリー方法' %>
        <%= f.text_area :entry, class: 'form-control' %>
      </div>

      <%= f.submit 'イベントを作成', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
