<div class="event">
  <h2><%= @event.title %></h2>
  <p><%= @event.event_date %></p>
  <div class="row">
    <p>コメント： <%= @count_comments %></p>
    <p>お気に入り： <%= @count_favorites %></p>
    <%= render "favorites/favorite_button", event: @event %>
    <% if current_user == @event.user %>
      <%= link_to "イベントを削除", @event, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm btn-group' %>
    <% end %>
  </div>
  <div class="row">
    <aside class="col-sm-2">
      <img class="rounded img-fluide" src="<%= gravatar_url(@event.user, { size: 75 }) %>" alt="">
    </aside>
    <div class="col-sm-10">
      <p><%= @event.user.name %></p>
      <p><span class="text-muted"> 作成日 <%= @event.created_at %></span></p>
    </div>
      <p><%= @event.content %></P>
  </div>
</div>
<div class="comment">
  
  <%= render "comments/post", comment: @comment %>
  <%= render "comments/comments", comments: @comments, event: @event %>
  <% if @count_comments > 20 %>
    <%= render "comments/post", comment: @comment %>
  <% end %>
</div>
